<section class="conditions">
    <div class="container">
        <div class="section__item heading-wrap">
            <span class="heading text-center">{{ data.heading | raw }}</span>
            <span class="subheading text-center">{{ data.subheading | raw }}</span>
            <div class="divider"></div>
        </div>
    </div>
</section>