<section class="header">
    <div class="container">
        <div class="section__item logo-wrap">
            <img src="{{ data.logo }}" class="img-responsive">
        </div>
        <div class="section__item info-wrap">
            <div class="section__subitem">
                <span class="font-1-medium">Ежедневно с 10:00 до 22:00</span>
            </div>
            <div class="section__subitem divider"></div>
            <div class="section__subitem">
                <span class="font-1-medium">Приём заявок круглосуточно</span>
            </div>
        </div>
        <div class="section__item callback-wrap">
            <div class="section__subitem link-wrap">
                <a href="{{ phone.href }}" class="link link-a-b font-2-semibold header__link-phone">{{ phone. title}}</a>
            </div>
            <div class="section__subitem button-wrap">
                <button class="button button-3 button-circle js-show-modal" data-modal="#modal-1">
                    <span class="mdi mdi-phone-outgoing"></span>
                </button>
            </div>
        </div>
    </div>
</section>