.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--color-1);
    box-shadow: var(--shadow-3);
    border-radius: 0 0 2rem 2rem;
    z-index: var(--z-index-2);

    @media(--md) {
        height: 8rem;
        border-radius: 0 0 4rem 4rem;
    }
}

.header .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 100%;

    @media(--sm) {
        gap: 1.5rem;
    }

    @media(--md) {
        gap: 4rem;
    }
}

.header .section__item.logo-wrap {
    width: 14rem;
    margin-right: auto;

    @media(--sm) {
        width: 20rem;
    }

    @media(--lg) {
        width: 26rem;
    }
}

.header .section__item.working-wrap {
    display: none;

    @media(--md) {
        display: block;
        text-align: right;
    }
}

.header .card__label {
    font-size: .9em;
    opacity: .7;
}

.header .section__item.messengers-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    @media(--sm) {
        gap: 1rem;
    }
    @media(--md) {
        gap: 1rem;
    }
}

.header .section__subitem.messenger-wrap {
    width: 3rem;
    flex-shrink: 0;
    transition: .25s all ease-out;

    @media(--md) {
        width: 4rem;
    }
}

.header .section__subitem.messenger-wrap:hover {
    transform: scale(1.05);
}

.header .messenger-link {
    width: 100%;
}

.header .section__subitem.callback-wrap {
    display: none;

    @media(--xm) {
        display: block;
    }
}

.header .section__subitem.button-wrap {
    display: none;

    @media(--md) {
        display: block;
    }
}

.header__link-phone {
    font-size: 1.1em;

    @media(--sm) {
        font-size: 1.4em;
    }
    @media(--md) {
        font-size: 1.6em;
    }
}

.header .section__item.info-wrap {
    display: none;

    @media(--md) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: .25rem;
    }
}

.header .section__subitem.divider {
    height: 2px;
    width: 100%;
    background-color: var(--color-3);
}

.header .section__item.phone-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
}

.header .section__subitem.button-wrap span {
    display: inline-block;
}