.actions {
}

.actions .section__item.cards-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    overflow-x: scroll;

    @media(--md) {
        overflow-x: unset;
    }
}

.actions .card {
    position: relative;
    width: 100%;
    min-width: 25rem;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f3f3f3;
    border-radius: 2rem;

    @media(--md) {
        width: calc(50% - 2rem);
    }
}

.actions .card__title {
    font-size: 1.6em;
}

.actions .card__subtitle {
    font-size: 1.4em;
}

.actions .card__icon-wrap {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
}