@font-face {
  font-family: 'AvenirNextCyr-Light';
  src:
    url('https://static.ismart.pro/fonts/avenirnextcyr/AvenirNextCyr-Light.woff2') format('woff2'),
    url('https://static.ismart.pro/fonts/avenirnextcyr/AvenirNextCyr-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src:
    url('https://static.ismart.pro/fonts/avenirnextcyr/AvenirNextCyr-Regular.woff2') format('woff2'),
    url('https://static.ismart.pro/fonts/avenirnextcyr/AvenirNextCyr-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Bold';
  src:
    url('https://static.ismart.pro/fonts/avenirnextcyr/AvenirNextCyr-Bold.woff2') format('woff2'),
    url('https://static.ismart.pro/fonts/avenirnextcyr/AvenirNextCyr-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
