@font-face {
  font-family: 'InfinitiBrand-Light';
  src:
    url('https://static.ismart.pro/fonts/infinitibrand/InfinitiBrand-Light.woff2') format('woff2'),
    url('https://static.ismart.pro/fonts/infinitibrand/InfinitiBrand-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InfinitiBrand-Regular';
  src:
    url('https://static.ismart.pro/fonts/infinitibrand/InfinitiBrand-Regular.woff2') format('woff2'),
    url('https://static.ismart.pro/fonts/infinitibrand/InfinitiBrand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InfinitiBrand-Bold';
  src:
    url('https://static.ismart.pro/fonts/infinitibrand/InfinitiBrand-Bold.woff2') format('woff2'),
    url('https://static.ismart.pro/fonts/infinitibrand/InfinitiBrand-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
