@font-face {
    font-family: 'LandRover-Bold';
    src: url('https://static.ismart.pro/fonts/landrover/landroverbldl-webfont.woff2') format('woff2'),
         url('https://static.ismart.pro/fonts/landrover/landroverbldl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LandRover-Medium';
    src: url('https://static.ismart.pro/fonts/landrover/landrovermedl-webfont.woff2') format('woff2'),
         url('https://static.ismart.pro/fonts/landrover/landrovermedl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
