@font-face {
  font-family: 'tactic-round-ext-regular';
  src:
    url('https://static.ismart.pro/fonts/tactic-round/tactic-round-ext-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tactic-round-ext-medium';
  src:
    url('https://static.ismart.pro/fonts/tactic-round/tactic-round-ext-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tactic-round-ext-bold';
  src:
    url('https://static.ismart.pro/fonts/tactic-round/tactic-round-ext-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
