.footer {
    box-shadow: var(--shadow-3);
}

.footer .container {
    align-items: flex-start;
}

.footer .section__item.header-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    @media(--md) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

.footer .section__subitem.logo-wrap {
    width: 18rem;

    @media(--md) {
        width: 25rem;
    }
}

.footer .section__subitem.callback-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__link-phone {
    font-size: 1.6em;
}

.footer__callback-title {
    font-size: .9em;
    opacity: .7;
}

.footer__divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-3);
}

.footer .section__item.social-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.footer .section__subitem.telegram-wrap,
.footer .section__subitem.vk-wrap {
    width: 5rem;
}

.footer .section__item.nav-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    @media(--md) {
        width: calc(50% - 2rem);
    }
}

.footer .section__item.info-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    @media(--md) {
        width: calc(50% - 2rem);
    }
}

.footer .section__item.info-wrap * {
    max-width: 80rem;
}

.footer__disclaimer,
.footer__owner {
    font-size: .9em;
}