.nav {
    display: none;

    @media(--md) {
        display: block;
        margin-top: 10rem;
    }
}

.nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    @media(--md) {
        flex-direction: row;
    }
}

.nav__link {
   font-size: 1em;
   opacity: .7;
}