.intro {
    position: relative;
    min-height: 125vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url('data/img/ui/gradient-mix.png');
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    overflow: hidden;

    @media(--xm) {
        min-height: 90vw;
        background-size: contain;
    }

    @media(--sm) {
        min-height: 70rem;
    }
    
    @media(--md) {
        min-height: 70rem;
    }

    @media(--lg) {
        min-height: 70rem;
        justify-content: flex-start;
        align-items: center;
    }

    @media(--xl) {
       height: 60vh;
    }
}

.intro .grid-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    overflow: hidden;

    @media(--md) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        gap: 2rem;
    }
}

.intro .sections__item.content-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;

    @media(--sm) {
        padding-left: 1rem;
    }

    @media(--md) {
        width: 45%;
        align-items: flex-start;
        overflow: hidden;
    }

    @media(--lg) {
        width: 35%;
    }

    @media(--xl) {
        width: 35%;
        padding-left: 0;
    }
}

.intro .sections__subitem.heading-wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: var(--z-index-6);

    @media(--md) {
        align-items: flex-start;
    }
}

.intro .heading {
    text-align: left;
}

.intro .sections__item.bg-wrap {
    position: relative;
    
    @media(--md) {
        width: 100%;
        max-width: 150rem;
        margin-right: -25%;
    }
}

.intro__car {
    position: relative;
    display: block;
    z-index: var(--z-index-6);
}

.intro__bg {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    z-index: var(--z-index-7);
}

.intro .list-item {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: .5rem;

    @media(--md) {
        font-size: 1.4em;
    }
}